




{% load static %}

<!DOCTYPE html>
<html>

<head>

    <title> Dashboard</title>
    <link rel="stylesheet"
          href="{% static 'staff.css/dashboard.css' %}">  

</head>

<body>


<div class="glass-card">
    <h1>Documents </h1>
    <br>
    <form method="GET">
        <input type="text"
               name="search"
               class="glass-input"
               placeholder="Search Documents">
        <button class="glass-btn">
            Search
        </button>


    </form>

<a href="{% url 'add_document' %}"
                       class="action-btn view-btn">

            + Upload
        </a>
    <br>
    <br>
    <table>
        
        <tr>
            <th>Name</th>
            <th>Certificate ID</th>
            <th>Department</th>
            <th>Status</th>
            <th>Actions</th>
        
        </tr>
        
        {% for doc in documents %}
        
        <tr>
            <td>{{ doc.name }}</td>
            <td>{{ doc.certificate_id }}</td>
            <td>{{ doc.department }}</td>
            <td>
                {% if doc.verified %}
                    ✅ Verified
                {% else %}
                    ❌ Fake
                {% endif %}
            </td>
            <td>
               
                <a href="{% url 'view_document' doc.id %}"
                   class="action-btn view-btn">
                    View
                
                </a>
                
                <a href="{% url 'update_document' doc.id %}"
                   class="action-btn edit-btn">
                    Edit
               
                </a>
{% comment %}             
                <a href="{% url 'delete_document' doc.id %}"
                   class="action-btn delete-btn">
                    Delete
                </a> {% endcomment %}
                <button type="button"
        class="action-btn delete-btn"
        onclick="showDeleteCard('{{ doc.id }}')">
    Delete
</button>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<div id="deleteCard" class="delete-card">

    <h3>⚠ Delete Warning</h3>

    <p>Are you sure you want to delete this document?</p>

    <a id="confirmDeleteBtn"
       class="action-btn delete-btn">
       Yes Delete
    </a>

    <button type="button"
            onclick="closeDeleteCard()"
            class="action-btn edit-btn">
        Cancel
    </button>

</div>

    <script>
function showDeleteCard(id){

    document.getElementById("deleteCard").style.display = "block";

    document.getElementById("confirmDeleteBtn").href =
        "/delete_document/" + id + "/";
}

function closeDeleteCard(){

    document.getElementById("deleteCard").style.display = "none";
}
</script>
{% comment %} 
console.log("Glassmorphism Dashboard Loaded");

const cards = document.querySelectorAll('.glass-card');

cards.forEach(card => {

    card.addEventListener('mousemove', e => {

        let x = e.offsetX;
        let y = e.offsetY;

        card.style.background = `
        radial-gradient(
        circle at ${x}px ${y}px,
        rgba(24, 11, 143, 0.2),
        rgba(255,255,255,0.08)
        )
        `;
    });

});  {% endcomment %}


</body>
</html>